doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Muli&display=swap", rel="stylesheet")
    link(rel="icon", href="img/LetterP.png")
    link(rel="stylesheet", href="index.css")
    title Disclaimer | PuniUrl
  body.fd-col.disclaimer-page
    .dp-msg PuniUrl does not guarentee any link it provides to be accessible from conception until the end of time (or the end of the PuniUrl website). Further, PuniUrl does not tolerate spam or illegal behavior. If spam or illegal behavior is noticed by the administrator or is brought to the administrator's attention, the administrator will take any and all necessary actions, including, but not limited to, banning the IP address(es) of those involved and alerting government officials if necessary.
    a(href="/") Got it, take me back