*, *::before, *::after {
  box-sizing: inherit;
	font-family: Muli, sans-serif;
}
:focus, :hover {
	outline: none;
}
html {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
	align-items: center;
	background-color: whitesmoke;
}
.error-snip {
	position: absolute;
	background-color: rgb(204, 58, 58);
	text-align: center;
	color: whitesmoke;
	padding: 7px 20px;
	top: 50px;
	font-size: 0.8em;
	border-radius: 8px;
	cursor: default;
	transition: top 0.2s ease-in-out;
	box-shadow: 0 2px 5px rgba(71, 69, 84, 0.25);
}
.no-show {
	top: -50px;
}
.container {
	min-width: 250px;
	max-width: 500px;
	width: 40vw;
}
h1 {
	margin: 0;
	margin-bottom: 25px;
  font-weight: normal;
	font-size: 1.5em;
	color: #333;
	text-align: center;
}
.field {
	display: flex;
	height: 2.3em;
	justify-content: center;
}
input {
	border-radius: 8px 0 0 8px;
	border: none;
	width: 75%;
	padding: .6em;
	box-shadow: 0 2px 5px rgba(71, 69, 84, 0.25);
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 8px 8px 0;
	border: none;
	border-left: none;
	background-color: coral;
	width: 25%;
	max-width: 75px;
	padding: .6em;
	cursor: pointer;
	color: #333;
	box-shadow: 0 2px 5px rgba(71, 69, 84, 0.25);
}
button:hover {
	background-color: rgb(253, 149, 111);
}
button:active {
	background-color: rgb(255, 113, 61);
}
.fd-col {
	flex-direction: column;
}
.flex-center h1 {
	font-size: 3em;
	color: rgb(204, 58, 58);
}
.flex-center h3 {
	padding: 5px 10px;
	text-align: center;
	margin: 0;
}
/* loader and spin animation basically lifted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
.loader {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: .15em solid coral;
	border-top: .15em solid #333;
	border-bottom: .15em solid #333;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.disclaimer {
	position: absolute;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: #8685EF;
}
.dp-msg {
	max-width: 750px;
	font-size: 1.1em;
	line-height: 1.8em;
	width: 80vw;
	color: #333;
}
.disclaimer-page a {
	text-decoration: none;
	color: #8685EF;
	margin-top: 100px;
}
.cr {
	position: absolute;
	bottom: 10px;
	font-size: .7em;
	color: #333;
}
@media only screen and (max-width: 767px) {
	.dp-msg {
		font-size: 1em;
		line-height: normal;
	}
	.disclaimer-page a {
		margin-top: 50px;
	}
}